# Copyright (c) 2019, Oxford Nanopore Technolgies Ltd.
#
# SPDX-License-Identifier: GPL-2.0

if TARGET_MINION1C

config SYS_BOARD
	default "minion1c"

config SYS_VENDOR
	default "ont"

config SYS_CONFIG_NAME
	default "minion1c"

endif
